*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
:root{
    --text-color:#ffffff;
    --main-color:#13bbff;
    --bg-color:#1b1f24;

    --big-font:4.5rem;
    --h4-font:2rem;
    --p-font:1.1rem;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16%;
    transition: all .55s ease;
}
.logo{
    font-size: 36px;
    color: var(--text-color);
    font-weight: 600;
}
span{
    color:var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin-left: 40px;
    transition: all .55s ease;
}
.navlist a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color),-2px 1px 30px var(--text-color);
}
.navlist a.active{
    color: var(--main-color);
}
.h-btn{
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .55 ease;
}
.h-btn:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transition: 0.5s;
}
section{
    padding: 0 16%;
}
.hero{
    height:90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content{
    padding-top: 300px;
}
.main-content h4{
    font-size: var(--h4-font);
}
.main-content h1{
    font-size: var(--big-font);
    font-weight: 900;
    margin: 20px 0px 20px;
    line-height: 1.2;
}
.main-content p{
    font-size: 16px;
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color: #eee;
    line-height: 30px;
    margin-bottom: 20px;
}
.social{
    margin-bottom: 40px;
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color:var(--main-color);
    border-radius: 50%;
    font-size: 17px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
}
.social a:hover{
    transform: scale(1.1);
    box-shadow:0 0 20px var(--main-color) ;
}
.btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    margin-right: 15px;
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
.imgbox{
    
    display: flex;
    justify-content: flex-end;
    margin-left: 90px;
    margin-top: 100px;
}
.imgbox img{
    max-width: 400px;
    border-radius: 60px 30px 60px 30px;
}